<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MiServlet</servlet-name>
        <servlet-class>ec.edu.intsuperior.controlador.MiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDatosCliente</servlet-name>
        <servlet-class>ec.edu.intsuperior.controlador.ServletDatosCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>ec.edu.intsuperior.controlador.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenuGeneral</servlet-name>
        <servlet-class>ec.edu.intsuperior.controlador.MenuGeneral</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MiServlet</servlet-name>
        <url-pattern>/MiServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDatosCliente</servlet-name>
        <url-pattern>/ServletDatosCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenuGeneral</servlet-name>
        <url-pattern>/MenuGeneral</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
